.cell-w { background: url('../../.././resources/images/logo.png'); }
.cell-s { background: url('../../.././resources/images/barcos/4.png'); }
.cell-h { background: url('../../.././resources/images/destroy.png'); }
.cell-m { background: url('../../.././resources/images/crater.png'); }


.ship{
    background-image: url('../../../resources/images/barcos/6.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tablero button{
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: #2ba3d0;
    padding: 0;
    border: none;
    margin: 4px;
}




.hited{
    background-image: url('../../../resources/images/barcoDestruido.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.missed{
    background-image: url('../../../resources/images/crater.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#button:hover{
    background-image: url('../../../resources/images/objetivo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


section{
     background-image: url('../../../resources/images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}