.cell-w { background: url('../../.././resources/images/logo.png'); }
.cell-s { background: url('../../.././resources/images/barcos/4.png'); }
.cell-h { background: url('../../.././resources/images/destroy.png'); }
.cell-m { background: url('../../.././resources/images/crater.png'); }
